@model TagHelperDemo.Models.ModelAddress


<h1>
    <mod-tes first-name="@Model.FirstName" last-name="@Model.LastName"></mod-tes>
    <mod-exp helper-for="FirstName"></mod-exp>
    <view-cont></view-cont>
</h1>